openapi: 3.0.0
servers:
  - url: 'https://injiverify.collab.mosip.net/v1/verify'
tags:
  - name: VC Submission
    description: APIs for Verifiable Credential Submission related operations
  - name: VC Verification
    description: APIs for Verifiable Credential Verification related operations
  - name: VP Request
    description: APIs for Verifiable Presentation Authorization Request related operations
  - name: VP Submission
    description: APIs for Verifiable Presentation submission related operations
  - name: VP Results
    description: APIs for Verifiable Presentation Results related operations
info:
  title: OpenID4VP Verifier API - Inji Verify
  version: 1.0.0
  contact:
    name: MOSIP
    url: 'https://mosip.io'
    email: mosip.emailnotifier@gmail.com
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.txt'
  description: |-
    API for VC verification and OpenID4VP v1.0.

    This version aligns with [OpenID4VP v1.0](https://openid.net/specs/openid-4-verifiable-presentations-1_0.html)
    and [SD-JWT VC draft-10](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-sd-jwt-vc-10).

    **Breaking changes from previous versions:**
    - VP request endpoints versioned to `/v2/*` — not backward compatible
    - `presentationDefinition` / `presentationDefinitionId` replaced by `dcql_query`
    - `acceptVPWithoutHolderProof` removed — use `require_cryptographic_holder_binding` in DCQL
    - `client_id` with `did:` prefix rejected — use `decentralized_identifier:did:` prefix
    - `vp_formats` renamed to `vp_formats_supported`; `ldp_vp` renamed to `ldp_vc`
    - `presentation_submission` removed from VP submission — DCQL-only
    - `vp_token` in submission is now a JSON object keyed by DCQL `query_id`
paths:
  /v2/vp-request:
    post:
      summary: Initiate a new VP Request (v2 — OpenID4VP 1.0)
      description: |-
        ## Description
        This endpoint initiates a **Verifiable Presentation (VP) request** compliant with OpenID4VP v1.0.

        This replaces the legacy `/vp-request` endpoint and is **not backward compatible**.

        Does **not** set a session cookie. Use this for **server-to-server** integrations and pair with
        `POST /v2/vp-results/{transactionId}`. Browser/SDK flows that later call `/vp-session-results`
        should use `POST /v2/vp-session-request` instead.

        The request body, `client_id_prefix` rules, `responseMode` values (including Digital Credentials API),
        and response shapes are the same as `POST /v2/vp-session-request`.

        ---

        ## Request

        The request body **must include**:
        - `clientId`
        - `dcql_query` — DCQL query specifying the credentials to request (per OpenID4VP v1.0)

        `presentationDefinition` and `presentationDefinitionId` are **not supported** and will be rejected.

        ---

        ## client_id_prefix

        `clientId` uses an OpenID4VP v1.0 Client Identifier Prefix (Section 5.9.3).
        Each prefix documents the same three properties: Authorization Request delivery, `client_metadata`, and `response_mode`.

        | Prefix | Authorization Request | `client_metadata` | `response_mode` |
        |---|---|---|---|
        | *(none)* Pre-registered | by value (`authorizationDetails`) | not supported | `direct_post` |
        | `decentralized_identifier:` | by reference (`requestUri`) | supported | `direct_post` and `dc_api` |
        | `x509_san_dns:` | by reference (`requestUri`) | supported | `direct_post` and `dc_api` |
        | `redirect_uri:` | by value (`authorizationDetails`) | not supported | `direct_post` |

        ### Pre-registered
        - `clientId` is a simple string with no prefix
        - Example: `client123`
        - Authorization Request is returned **by value** in `authorizationDetails`
        - `client_metadata` is **not supported** — SHOULD NOT be included (OpenID4VP v1.0 Section 8.5)
        - `response_mode`: `direct_post` only (not valid with `dc_api`)

        ### Decentralized Identifier (`decentralized_identifier:`)
        - `clientId` must use the `decentralized_identifier:` prefix per OpenID4VP v1.0 Section 5.9.3
        - Example: `decentralized_identifier:did:example:verifier123`
        - Authorization Request is returned **by reference** (`requestUri`)
        - `client_metadata` is **supported** — included in the signed request JWT (`vp_formats_supported`)
        - `response_mode`: `direct_post` and `dc_api`
        - Request JWT is signed with a `kid` header resolved via the Verifier DID document
        - The legacy `did:` prefix is **rejected** with `INVALID_CLIENT_IDENTIFIER`

        ### Certificate SAN DNS (`x509_san_dns:`)
        - `clientId` must use the `x509_san_dns:` prefix per OpenID4VP v1.0 Section 5.9.3
        - Example: `x509_san_dns:verify.example.com`
        - Authorization Request is returned **by reference** (`requestUri`)
        - `client_metadata` is **supported** — included in the signed request JWT (`vp_formats_supported`)
        - `response_mode`: `direct_post` and `dc_api`
        - Request JWT is signed with an `x5c` header (leaf-first X.509 certificate chain); no `kid`
        - The DNS name after the prefix must be syntactically valid and must match this deployment's configured `inji.verify.x509-san-dns.host`
        - A signing certificate chain must be configured; outside local/dev hosts, `request_uri` must be served over HTTPS
        - The wallet validates the cert chain and checks that the DNS name in `clientId` appears in the leaf certificate SAN

        ### Redirect URI (`redirect_uri:`)
        - `clientId` must use the `redirect_uri:` prefix per OpenID4VP v1.0 Section 5.9.3
        - Example: `redirect_uri:https://injiverify.example.com/v1/verify/v2/vp-submission/direct-post`
        - Authorization Request is returned **by value** in `authorizationDetails` (unsigned / no `requestUri`)
        - `client_metadata` is **not supported**
        - `response_mode`: `direct_post` only (not valid with `dc_api`)
        - The URI part after the prefix **MUST** be an absolute **HTTPS** URI and **MUST** equal `authorizationDetails.responseUri` (the Verifier's `direct_post` endpoint)
        - Plain `http://` URIs are rejected with `invalid_request`

        ---

        ## nonce

        - Optional field
        - If provided: must be ≥ 16 characters, URL-safe characters only (`[A-Za-z0-9._~-]`); blank or whitespace values are rejected
        - If not provided: a cryptographically secure nonce is generated (Base64URL without padding, ≥ 128 bits entropy)

        ---

        ## transactionId / requestId

        - `transactionId`: optional, generated as `txn_<uuid>` if absent
        - `requestId`: auto-generated as `req_<uuid>` per transaction

        ---

        ## responseCodeValidationRequired

        | Flow Type | Value | Behavior |
        |---|---|---|
        | Cross Device Flow | `false` | `/v2/vp-submission/direct-post` returns HTTP 200 only |
        | Same Device – Web Wallet | `true` | `/v2/vp-submission/direct-post` returns `redirect_uri` with `response_code` |
        | Same Device – Mobile Wallet | `false` | `/v2/vp-submission/direct-post` returns HTTP 200 only |
        | Digital Credentials API (`responseMode=dc_api`) | must be `false` | Rejected with `invalid_request` when enabled |

        ---

        ## responseMode

        Optional. Defaults to `direct_post`.

        | Value | Submission | Notes |
        |---|---|---|
        | `direct_post` (default) | Wallet POSTs form-urlencoded to `/v2/vp-submission/direct-post` | Cross-device QR / deep-link / web-wallet redirect |
        | `dc_api` | Browser SDK POSTs JSON to `/vp-submission/dc-api` after `navigator.credentials.get` | Same-device only. Requires `decentralized_identifier:` or `x509_san_dns:` |

        ---

        ## Digital Credentials API (`responseMode=dc_api`)

        Same-device browser mediation via W3C Digital Credentials API (`navigator.credentials.get`).
        Both `POST /v2/vp-request` and `POST /v2/vp-session-request` accept `responseMode=dc_api`.

        - Browser/SDK flows that later call `POST /vp-session-results` **must** use `/v2/vp-session-request` so the `transaction_id` cookie is set
        - Server-to-server integrations use this cookie-free endpoint and fetch results via `POST /v2/vp-results/{transactionId}`

        **Requirements:**
        - `client_id_prefix` must be `decentralized_identifier:` or `x509_san_dns:`
        - `responseCodeValidationRequired` must be `false`
        - Request must include an `Origin` or `Referer` header so the server can persist `expected_origins`
        - Authorization Request is returned **by reference**: `requestUri` (JWT for the wallet mediator) and `responseUri` (`POST /vp-submission/dc-api`)
        - `client_metadata` is **supported** (included in the signed request JWT)

      operationId: createVPRequestV2
      tags:
        - VP Request
      parameters:
        - name: Origin
          in: header
          required: false
          description: Required when `responseMode=dc_api`. Canonical verifier origin persisted as `expected_origins`.
          schema:
            type: string
            example: 'https://verify.example.com'
        - name: Referer
          in: header
          required: false
          description: Fallback when `Origin` is absent. Used only for `responseMode=dc_api`.
          schema:
            type: string
            example: 'https://verify.example.com/'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VPRequestCreate'
            examples:
              pre_registered:
                summary: Pre-registered clientId with DCQL query (by value)
                value:
                  clientId: client123
                  dcqlQuery:
                    credentials:
                      - id: age_credential_query
                        format: ldp_vc
                        meta:
                          type_values:
                            - - VerifiableCredential
                              - AgeCredential
                        require_cryptographic_holder_binding: true
              decentralized_identifier:
                summary: DID-based clientId with DCQL query (by reference)
                value:
                  clientId: 'decentralized_identifier:did:example:verifier123'
                  dcqlQuery:
                    credentials:
                      - id: age_credential_query
                        format: dc+sd-jwt
                        meta:
                          vct_values:
                            - 'https://example.com/AgeCredential'
                        require_cryptographic_holder_binding: true
              x509_san_dns:
                summary: Certificate SAN DNS clientId (by reference)
                value:
                  clientId: 'x509_san_dns:verify.example.com'
                  dcqlQuery:
                    credentials:
                      - id: age_credential_query
                        format: ldp_vc
                        meta:
                          type_values:
                            - - VerifiableCredential
                              - AgeCredential
                        require_cryptographic_holder_binding: true
              redirect_uri:
                summary: Redirect URI clientId (by value)
                value:
                  clientId: 'redirect_uri:https://injiverify.collab.mosip.net/v1/verify/v2/vp-submission/direct-post'
                  dcqlQuery:
                    credentials:
                      - id: age_credential_query
                        format: ldp_vc
                        meta:
                          type_values:
                            - - VerifiableCredential
                              - AgeCredential
                        require_cryptographic_holder_binding: true
              dc_api:
                summary: Digital Credentials API (responseMode=dc_api)
                value:
                  clientId: 'decentralized_identifier:did:web:verify.example.com'
                  responseMode: dc_api
                  responseCodeValidationRequired: false
                  dcqlQuery:
                    credentials:
                      - id: age_credential_query
                        format: ldp_vc
                        meta:
                          type_values:
                            - - VerifiableCredential
                              - AgeCredential
                        require_cryptographic_holder_binding: true
      responses:
        '201':
          description: |-
            The VP request was created successfully. The response includes a `transactionId` and `requestId`, along with either:
            - The full `authorizationDetails` object (**by value** — pre-registered or `redirect_uri:` `client_id_prefix`), or
            - A `requestUri` pointing to the authorization request JWT (**by reference** — `decentralized_identifier:` or `x509_san_dns:`).
            For `responseMode=dc_api`, the by-reference body also includes `responseUri` (`POST /vp-submission/dc-api`).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/VPRequestResponse'
                  - $ref: '#/components/schemas/VPRequestResponseByReference'
              examples:
                by_value:
                  summary: Authorization by value (pre-registered / redirect_uri)
                  value:
                    transactionId: txn_f82f281e-8d96-419b-b413-5a0459739a7b
                    requestId: req_6d538e1b-2615-4927-bfd2-094e9f73f2a1
                    authorizationDetails:
                      responseUri: 'https://injiverify.collab.mosip.net/v1/verify/v2/vp-submission/direct-post'
                      responseType: vp_token
                      responseMode: direct_post
                      clientId: client123
                      nonce: T3yeEqs0zVbveJASNFZ4kA
                      dcqlQuery:
                        credentials:
                          - id: age_credential_query
                            format: ldp_vc
                            meta:
                              type_values:
                                - - VerifiableCredential
                                  - AgeCredential
                            require_cryptographic_holder_binding: true
                      issuedAt: 1752838929000
                    expiresAt: 1752838929
                by_reference:
                  summary: Authorization by reference (decentralized_identifier / x509_san_dns)
                  value:
                    transactionId: 'urn:uuid:f82f281e-8d96-419b-b413-5a0459739a7b'
                    requestId: 'urn:uuid:6d538e1b-2615-4927-bfd2-094e9f73f2a1'
                    requestUri: 'https://injiverify.collab.mosip.net/v1/verify/v2/vp-request/6d538e1b-2615-4927-bfd2-094e9f73f2a1'
                    expiresAt: 1752838929
                by_reference_dc_api:
                  summary: DC API by reference (includes responseUri for SDK submit)
                  value:
                    transactionId: 'urn:uuid:f82f281e-8d96-419b-b413-5a0459739a7b'
                    requestId: 'urn:uuid:6d538e1b-2615-4927-bfd2-094e9f73f2a1'
                    requestUri: 'https://injiverify.collab.mosip.net/v1/verify/v2/vp-request/6d538e1b-2615-4927-bfd2-094e9f73f2a1'
                    responseUri: 'https://injiverify.collab.mosip.net/v1/verify/vp-submission/dc-api'
                    expiresAt: 1752838929
        '400':
          description: |-
            The request failed due to validation errors.

            **Request parsing errors:**

            | errorCode | errorMessage |
            |---|---|
            | `INVALID_JSON` | JSON parse error message |
            | `UNKNOWN_FIELD` | Unknown field: `{fieldName}` |
            | `INVALID_FIELD_VALUE` | Invalid value `'{value}'` for field `'{field}'` |
            | `MALFORMED_REQUEST` | Mismatched input type message |
            | `INVALID_REQUEST` | Catch-all for unhandled request errors |

            **Request field validation errors:**

            | errorCode | errorMessage |
            |---|---|
            | `invalid_request` | client_id is required |
            | `dcql_query_required` | dcql_query is required |
            | `invalid_request` | Nonce must contain only ASCII URL-safe characters (A-Z, a-z, 0-9, -, ., _, ~) and be at least 16 characters. |
            | `invalid_request` | responseMode must be direct_post or dc_api. |
            | `invalid_request` | DC API response_mode requires a decentralized_identifier or x509_san_dns client_id. |
            | `invalid_request` | responseCodeValidationRequired is not supported with response_mode=dc_api. |
            | `invalid_request` | Unable to determine verifier origin from Origin or Referer headers. |
            | `invalid_request` | For the redirect_uri client_id scheme, the value after the prefix must be a non-empty, well-formed absolute https URI. |

            **DCQL structure validation errors:**

            | errorCode | errorMessage |
            |---|---|
            | `dcql_query.credentials` | Each DCQL credential entry must not be null. |
            | `dcql_query.credentials` | dcql_query.credentials must be a non-empty array. |
            | `dcql_query.credentials` | Each DCQL credential entry must contain id. |
            | `dcql_query.credentials` | Credential id must contain only alphanumeric characters, underscores, and hyphens. |
            | `dcql_query.credentials` | Duplicate credential ids are not allowed. |
            | `dcql_query.credentials` | Each DCQL credential entry must contain format. |
            | `dcql_query.credentials` | DCQL credential format must be a valid format. |
            | `dcql_query.credentials` | Each DCQL credential entry must contain meta. |
            | `dcql_query.credentials` | DCQL meta must not contain null/blank values. |
            | `dcql_query.credentials` | Each value in type_values must be a valid IRI (absolute or relative). |
            | `dcql_query.credentials` | DCQL meta must not contain duplicate values. |
            | `dcql_query.credentials` | DCQL meta fields must match the specified credential format. |
            | `dcql_query.credentials` | Each claim must contain path. |
            | `dcql_query.credentials` | DCQL claim path must be a valid path. |
            | `dcql_query.credentials` | Duplicate claim paths are not allowed within a single credential query. |
            | `dcql_query.credentials` | Claim id must contain only alphanumeric characters, underscores, and hyphens. |
            | `dcql_query.credentials` | Duplicate claim ids are not allowed. |
            | `dcql_query.credentials` | DCQL claim values must be a non-empty array if claim values field is present. |
            | `dcql_query.credentials` | claim_sets must not be empty if claim_sets field is present. |
            | `dcql_query.credentials` | claim_sets contains missing claim id reference. |
            | `dcql_query.credentials` | claim_sets contains unknown claim id reference. |
            | `dcql_query.credentials` | credential_sets contains unknown credential id reference. |
            | `dcql_query.credential_sets` | credential_sets must contain at least one required entry. |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                client_id_required:
                  summary: Missing clientId
                  value:
                    errorCode: invalid_request
                    errorMessage: client_id is required
                dcql_query_required:
                  summary: Missing dcql_query
                  value:
                    errorCode: dcql_query_required
                    errorMessage: dcql_query is required
                invalid_nonce:
                  summary: Invalid nonce
                  value:
                    errorCode: invalid_request
                    errorMessage: 'Nonce must contain only ASCII URL-safe characters (A-Z, a-z, 0-9, -, ., _, ~) and be at least 16 characters.'
                unknown_field:
                  summary: Unknown field in request body
                  value:
                    errorCode: UNKNOWN_FIELD
                    errorMessage: 'Unknown field: presentationDefinition'
                invalid_format:
                  summary: Unsupported credential format
                  value:
                    errorCode: dcql_query.credentials
                    errorMessage: DCQL credential format must be a valid format.
                duplicate_credential_id:
                  summary: Duplicate credential id in DCQL query
                  value:
                    errorCode: dcql_query.credentials
                    errorMessage: Duplicate credential ids are not allowed.
  /v2/vp-session-request:
    post:
      summary: Initiate VP Session Request (v2 — OpenID4VP 1.0)
      description: |-
        ## Description
        This endpoint initiates a **Verifiable Presentation (VP) session request** compliant with OpenID4VP v1.0.

        This replaces the legacy `/vp-session-request` endpoint and is **not backward compatible**.

        Sets a base64-encoded `transaction_id` as an **HttpOnly cookie** upon success. Intended for
        **session-based flows** (e.g., `@injistack/react-inji-verify-sdk`) that later call
        `POST /vp-session-results`. For cookie-free server-to-server integrations, use `POST /v2/vp-request`.

        The request body, `client_id_prefix` rules, `responseMode` values (including Digital Credentials API),
        and response shapes are the same as `POST /v2/vp-request`.

        ---

        ## Cookie Behavior

        The `transaction_id` is base64-encoded and set as an HttpOnly cookie:

        `Set-Cookie: transaction_id=<base64EncodedUuid>; HttpOnly; [Secure]`

        | Environment | HttpOnly | Secure | SameSite | Max-Age |
        |---|---|---|---|---|
        | Production | true | true | None | 15 min |
        | Local | true | false | Lax | 15 min |

        > This cookie is **only set** by `/v2/vp-session-request`, not by `/v2/vp-request`.

        ---

        ## Request

        The request body **must include**:
        - `clientId`
        - `dcql_query` — DCQL query specifying the credentials to request (per OpenID4VP v1.0)

        `presentationDefinition` and `presentationDefinitionId` are **not supported** and will be rejected.

        ---

        ## client_id_prefix

        `clientId` uses an OpenID4VP v1.0 Client Identifier Prefix (Section 5.9.3).
        Each prefix documents the same three properties: Authorization Request delivery, `client_metadata`, and `response_mode`.

        | Prefix | Authorization Request | `client_metadata` | `response_mode` |
        |---|---|---|---|
        | *(none)* Pre-registered | by value (`authorizationDetails`) | not supported | `direct_post` |
        | `decentralized_identifier:` | by reference (`requestUri`) | supported | `direct_post` and `dc_api` |
        | `x509_san_dns:` | by reference (`requestUri`) | supported | `direct_post` and `dc_api` |
        | `redirect_uri:` | by value (`authorizationDetails`) | not supported | `direct_post` |

        ### Pre-registered
        - `clientId` is a simple string with no prefix
        - Example: `client123`
        - Authorization Request is returned **by value** in `authorizationDetails`
        - `client_metadata` is **not supported** — SHOULD NOT be included (OpenID4VP v1.0 Section 8.5)
        - `response_mode`: `direct_post` only (not valid with `dc_api`)

        ### Decentralized Identifier (`decentralized_identifier:`)
        - `clientId` must use the `decentralized_identifier:` prefix per OpenID4VP v1.0 Section 5.9.3
        - Example: `decentralized_identifier:did:example:verifier123`
        - Authorization Request is returned **by reference** (`requestUri`)
        - `client_metadata` is **supported** — included in the signed request JWT (`vp_formats_supported`)
        - `response_mode`: `direct_post` and `dc_api`
        - Request JWT is signed with a `kid` header resolved via the Verifier DID document
        - The legacy `did:` prefix is **rejected** with `INVALID_CLIENT_IDENTIFIER`

        ### Certificate SAN DNS (`x509_san_dns:`)
        - `clientId` must use the `x509_san_dns:` prefix per OpenID4VP v1.0 Section 5.9.3
        - Example: `x509_san_dns:verify.example.com`
        - Authorization Request is returned **by reference** (`requestUri`)
        - `client_metadata` is **supported** — included in the signed request JWT (`vp_formats_supported`)
        - `response_mode`: `direct_post` and `dc_api`
        - Request JWT is signed with an `x5c` header (leaf-first X.509 certificate chain); no `kid`
        - The DNS name after the prefix must be syntactically valid and must match this deployment's configured `inji.verify.x509-san-dns.host`
        - A signing certificate chain must be configured; outside local/dev hosts, `request_uri` must be served over HTTPS
        - The wallet validates the cert chain and checks that the DNS name in `clientId` appears in the leaf certificate SAN

        ### Redirect URI (`redirect_uri:`)
        - `clientId` must use the `redirect_uri:` prefix per OpenID4VP v1.0 Section 5.9.3
        - Example: `redirect_uri:https://injiverify.example.com/v1/verify/v2/vp-submission/direct-post`
        - Authorization Request is returned **by value** in `authorizationDetails` (unsigned / no `requestUri`)
        - `client_metadata` is **not supported**
        - `response_mode`: `direct_post` only (not valid with `dc_api`)
        - The URI part after the prefix **MUST** be an absolute **HTTPS** URI and **MUST** equal `authorizationDetails.responseUri` (the Verifier's `direct_post` endpoint)
        - Plain `http://` URIs are rejected with `invalid_request`

        ---

        ## nonce

        - Optional field
        - If provided: must be ≥ 16 characters, URL-safe characters only (`[A-Za-z0-9._~-]`); blank or whitespace values are rejected
        - If not provided: a cryptographically secure nonce is generated (Base64URL without padding, ≥ 128 bits entropy)

        ---

        ## transactionId / requestId

        - `transactionId`: optional, generated as `txn_<uuid>` if absent
        - `requestId`: auto-generated as `req_<uuid>` per transaction

        ---

        ## responseCodeValidationRequired

        | Flow Type | Value | Behavior |
        |---|---|---|
        | Cross Device Flow | `false` | `/v2/vp-submission/direct-post` returns HTTP 200 only |
        | Same Device – Web Wallet | `true` | `/v2/vp-submission/direct-post` returns `redirect_uri` with `response_code` |
        | Same Device – Mobile Wallet | `false` | `/v2/vp-submission/direct-post` returns HTTP 200 only |
        | Digital Credentials API (`responseMode=dc_api`) | must be `false` | Rejected with `invalid_request` when enabled |

        ---

        ## responseMode

        Optional. Defaults to `direct_post`.

        | Value | Submission | Notes |
        |---|---|---|
        | `direct_post` (default) | Wallet POSTs form-urlencoded to `/v2/vp-submission/direct-post` | Cross-device QR / deep-link / web-wallet redirect |
        | `dc_api` | Browser SDK POSTs JSON to `/vp-submission/dc-api` after `navigator.credentials.get` | Same-device only. Requires `decentralized_identifier:` or `x509_san_dns:` |

        ---

        ## Digital Credentials API (`responseMode=dc_api`)

        Same-device browser mediation via W3C Digital Credentials API (`navigator.credentials.get`).
        Both `POST /v2/vp-request` and `POST /v2/vp-session-request` accept `responseMode=dc_api`.

        - Browser/SDK flows that later call `POST /vp-session-results` **must** use this endpoint so the `transaction_id` cookie is set
        - Server-to-server integrations use `POST /v2/vp-request` and fetch results via `POST /v2/vp-results/{transactionId}`

        **Requirements:**
        - `client_id_prefix` must be `decentralized_identifier:` or `x509_san_dns:`
        - `responseCodeValidationRequired` must be `false`
        - Request must include an `Origin` or `Referer` header so the server can persist `expected_origins`
        - Authorization Request is returned **by reference**: `requestUri` (JWT for the wallet mediator) and `responseUri` (`POST /vp-submission/dc-api`)
        - `client_metadata` is **supported** (included in the signed request JWT)

      operationId: createVPSessionRequestV2
      tags:
        - VP Request
      parameters:
        - name: Origin
          in: header
          required: false
          description: Required when `responseMode=dc_api`. Canonical verifier origin persisted as `expected_origins`.
          schema:
            type: string
            example: 'https://verify.example.com'
        - name: Referer
          in: header
          required: false
          description: Fallback when `Origin` is absent. Used only for `responseMode=dc_api`.
          schema:
            type: string
            example: 'https://verify.example.com/'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VPRequestCreate'
            examples:
              pre_registered:
                summary: Pre-registered clientId with DCQL query (by value)
                value:
                  clientId: client123
                  dcqlQuery:
                    credentials:
                      - id: age_credential_query
                        format: ldp_vc
                        meta:
                          type_values:
                            - - VerifiableCredential
                              - AgeCredential
                        require_cryptographic_holder_binding: true
              decentralized_identifier:
                summary: DID-based clientId with DCQL query (by reference)
                value:
                  clientId: 'decentralized_identifier:did:example:verifier123'
                  dcqlQuery:
                    credentials:
                      - id: age_credential_query
                        format: dc+sd-jwt
                        meta:
                          vct_values:
                            - 'https://example.com/AgeCredential'
                        require_cryptographic_holder_binding: true
              x509_san_dns:
                summary: Certificate SAN DNS clientId (by reference)
                value:
                  clientId: 'x509_san_dns:verify.example.com'
                  dcqlQuery:
                    credentials:
                      - id: age_credential_query
                        format: ldp_vc
                        meta:
                          type_values:
                            - - VerifiableCredential
                              - AgeCredential
                        require_cryptographic_holder_binding: true
              redirect_uri:
                summary: Redirect URI clientId (by value)
                value:
                  clientId: 'redirect_uri:https://injiverify.collab.mosip.net/v1/verify/v2/vp-submission/direct-post'
                  dcqlQuery:
                    credentials:
                      - id: age_credential_query
                        format: ldp_vc
                        meta:
                          type_values:
                            - - VerifiableCredential
                              - AgeCredential
                        require_cryptographic_holder_binding: true
              dc_api:
                summary: Digital Credentials API (responseMode=dc_api)
                value:
                  clientId: 'decentralized_identifier:did:web:verify.example.com'
                  responseMode: dc_api
                  responseCodeValidationRequired: false
                  dcqlQuery:
                    credentials:
                      - id: age_credential_query
                        format: ldp_vc
                        meta:
                          type_values:
                            - - VerifiableCredential
                              - AgeCredential
                        require_cryptographic_holder_binding: true
      responses:
        '201':
          description: |-
            The VP session request was created successfully. Response body is the same as `POST /v2/vp-request`:
            - The full `authorizationDetails` object (**by value** — pre-registered or `redirect_uri:` `client_id_prefix`), or
            - A `requestUri` pointing to the authorization request JWT (**by reference** — `decentralized_identifier:` or `x509_san_dns:`).
            For `responseMode=dc_api`, the by-reference body also includes `responseUri` (`POST /vp-submission/dc-api`).
            Additionally sets a base64-encoded `transaction_id` as an HttpOnly cookie.
          headers:
            Set-Cookie:
              description: HttpOnly cookie containing base64-encoded transaction_id
              schema:
                type: string
                example: 'transaction_id=dHhuX2Y4MmYyODFlLThkOTYtNDE5Yi1iNDEzLTVhMDQ1OTczOWE3Yg==; HttpOnly; Secure; SameSite=None; Path=/; Max-Age=900'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/VPRequestResponse'
                  - $ref: '#/components/schemas/VPRequestResponseByReference'
              examples:
                by_value:
                  summary: Authorization by value (pre-registered / redirect_uri)
                  value:
                    transactionId: txn_f82f281e-8d96-419b-b413-5a0459739a7b
                    requestId: req_6d538e1b-2615-4927-bfd2-094e9f73f2a1
                    authorizationDetails:
                      responseUri: 'https://injiverify.collab.mosip.net/v1/verify/v2/vp-submission/direct-post'
                      responseType: vp_token
                      responseMode: direct_post
                      clientId: client123
                      nonce: T3yeEqs0zVbveJASNFZ4kA
                      dcqlQuery:
                        credentials:
                          - id: age_credential_query
                            format: ldp_vc
                            meta:
                              type_values:
                                - - VerifiableCredential
                                  - AgeCredential
                            require_cryptographic_holder_binding: true
                      issuedAt: 1752838929000
                    expiresAt: 1752838929
                by_reference:
                  summary: Authorization by reference (decentralized_identifier / x509_san_dns)
                  value:
                    transactionId: 'urn:uuid:f82f281e-8d96-419b-b413-5a0459739a7b'
                    requestId: 'urn:uuid:6d538e1b-2615-4927-bfd2-094e9f73f2a1'
                    requestUri: 'https://injiverify.collab.mosip.net/v1/verify/v2/vp-request/6d538e1b-2615-4927-bfd2-094e9f73f2a1'
                    expiresAt: 1752838929
                by_reference_dc_api:
                  summary: DC API by reference (includes responseUri for SDK submit)
                  value:
                    transactionId: 'urn:uuid:f82f281e-8d96-419b-b413-5a0459739a7b'
                    requestId: 'urn:uuid:6d538e1b-2615-4927-bfd2-094e9f73f2a1'
                    requestUri: 'https://injiverify.collab.mosip.net/v1/verify/v2/vp-request/6d538e1b-2615-4927-bfd2-094e9f73f2a1'
                    responseUri: 'https://injiverify.collab.mosip.net/v1/verify/vp-submission/dc-api'
                    expiresAt: 1752838929
        '400':
          description: Same validation rules and error codes as `POST /v2/vp-request`. See that endpoint for the full error code table.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v2/vp-request/{requestId}':
    get:
      summary: Get VP Request JWT (v2 — OpenID4VP 1.0)
      description: |-
        ## Description
        Retrieves a Verifiable Presentation (VP) request as a signed JWT. Used in **authorization by reference** flows (`client_id_prefix` `decentralized_identifier:` or `x509_san_dns:`, including `responseMode=dc_api`) where the wallet (or Digital Credentials API mediator) fetches the full request from the `requestUri` returned by `/v2/vp-request` or `/v2/vp-session-request`.

        This replaces the legacy `/vp-request/{requestId}` endpoint and is **not backward compatible**.

        Supports DCQL-based authorization requests per OpenID4VP v1.0. The JWT includes `client_metadata` (`vp_formats_supported`).

        ---

        ## JWT header (`kid` vs `x5c`)

        The JWS header is chosen **per request** from the `client_id_prefix` used when the VP request was created (same Ed25519 signing key either way):

        | `client_id_prefix` | Header | Contents | Wallet trust |
        |---|---|---|---|
        | `decentralized_identifier:` | `kid` (no `x5c`) | DID URL of the verifier verification method (e.g. `did:web:…#key-0`) | Resolve DID document (`GET /did.json`), match `kid` to `verificationMethod.id`, verify signature |
        | `x509_san_dns:` | `x5c` (no `kid`) | Leaf-first X.509 certificate chain (base64-DER) | Validate cert chain + signature; DNS name in `client_id` must appear in the leaf cert SAN |

        Common header fields for both: `alg=EdDSA`, `typ=oauth-authz-req+jwt`.

        A deployment can serve both prefixes side by side — header selection is not a global toggle.

        By-value prefixes (pre-registered, `redirect_uri:`) do not use this endpoint — those Authorization Requests are returned inline in `authorizationDetails`.

        | Prefix | Authorization Request | `client_metadata` | `response_mode` |
        |---|---|---|---|
        | `decentralized_identifier:` | by reference (this JWT) | supported | `direct_post` and `dc_api` |
        | `x509_san_dns:` | by reference (this JWT) | supported | `direct_post` and `dc_api` |

        ---

        ## JWT claim set notes

        | Claim | `direct_post` | `dc_api` |
        |---|---|---|
        | `response_mode` | `direct_post` | `dc_api` |
        | `state` | Present | Omitted |
        | `response_uri` | Present | Omitted |
        | `expected_origins` | Omitted | Present (slash-free canonical origins, e.g. `https://verify.example.com`) |
        | `client_metadata` | Present (`vp_formats_supported`) | Present (`vp_formats_supported`) |
        | `dcql_query` | Present | Present |
        | `nonce` / `client_id` | Present | Present |

        `client_metadata` is **supported** on this JWT because by-reference prefixes are `decentralized_identifier:` and `x509_san_dns:` only.
      operationId: getVPRequestJwtV2
      tags:
        - VP Request
      parameters:
        - name: requestId
          description: The Request ID for which to retrieve the signed JWT.
          in: path
          required: true
          schema:
            type: string
          example: req_6d538e1b-2615-4927-bfd2-094e9f73f2a1
      responses:
        '200':
          description: The VP Request JWT was successfully retrieved.
          content:
            application/oauth-authz-req+jwt:
              schema:
                type: string
                format: jwt
                example: eyJhbGciOiJFRERTQSIsInR5cCI6Im9hdXRoLWF1dGh6LXJlcStqd3QiLCJraWQiOiJkaWQ6ZXhhbXBsZTppc3N1ZXItZGVmYXVsdC1rZXkifQ.eyJjbGllbnRfaWQiOiJkZWNlbnRyYWxpemVkX2lkZW50aWZpZXI6ZGlkOmV4YW1wbGU6dmVyaWZpZXIxMjMiLCJpc3MiOiJkZWNlbnRyYWxpemVkX2lkZW50aWZpZXI6ZGlkOmV4YW1wbGU6dmVyaWZpZXIxMjMiLCJyZXNwb25zZV90eXBlIjoidnBfdG9rZW4iLCJyZXNwb25zZV9tb2RlIjoiZGlyZWN0X3Bvc3QiLCJub25jZSI6IlQzeWVFcXMwelZidmVKQVNORlo0a0EiLCJleHAiOjE2Nzg5MzA0MDAsImlhdCI6MTY3ODkyOTgwMH0.EXAMPLE_EDDSA_SIGNATURE
        '404':
          description: The specified Request ID does not exist.
  '/vp-request/{requestId}/status':
    get:
      summary: Get the VP Request status
      description: |-
        ## Description
        Checks the current status of a specific VP request. Allows the verifier to monitor whether the request has been fulfilled, is still active, or has expired.

        Possible status values: `ACTIVE`, `VP_SUBMITTED`, `EXPIRED`.
      operationId: getVPRequestStatus
      tags:
        - VP Request
      parameters:
        - name: requestId
          description: The Request ID for which to get the status.
          in: path
          required: true
          schema:
            type: string
          example: req_6d538e1b-2615-4927-bfd2-094e9f73f2a1
      responses:
        '200':
          description: 'VP Request status retrieved successfully. Status can be `ACTIVE`, `VP_SUBMITTED`, or `EXPIRED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VPRequestStatus'
              examples:
                active:
                  summary: Request is active and awaiting submission
                  value:
                    status: ACTIVE
                submitted:
                  summary: A VP has been submitted
                  value:
                    status: VP_SUBMITTED
                expired:
                  summary: Request has expired
                  value:
                    status: EXPIRED
        '404':
          description: The Request ID is not associated with a known transaction.
  /v2/vp-submission/direct-post:
    post:
      summary: Submit Authorization Response as VP Token (v2 — DCQL, OpenID4VP 1.0)
      description: |-
        ## Description
        Used by a wallet to submit a **Verifiable Presentation (VP)** via DCQL-based `vp_token`, per OpenID4VP v1.0.

        This replaces the legacy `/vp-submission/direct-post` endpoint and is **not backward compatible**.

        Applies when the Authorization Request used `response_mode=direct_post` (all `client_id_prefix` values).
        By-value prefixes (pre-registered, `redirect_uri:`) submit from `authorizationDetails`;
        by-reference prefixes (`decentralized_identifier:`, `x509_san_dns:`) submit after fetching the signed JWT.
        `client_metadata` is **not supported** for by-value prefixes and **supported** for by-reference prefixes.

        `presentation_submission` is **no longer accepted**. The `vp_token` is now a JSON object keyed by DCQL `query_id`.

        ---

        ## vp_token Structure

        `vp_token` is a JSON object where:
        - Each **key** is a `query_id` from the DCQL request
        - Each **value** is an **array** of presentations (required even for a single presentation)
        - Presentations are format-specific: JSON objects for `ldp_vc`, strings for `dc+sd-jwt`/`vc+sd-jwt`

        ```json
        {
          "age_credential_query": [
            { "@context": [...], "type": ["VerifiablePresentation"], ... }
          ],
          "identity_query": [
            "eyJhbGciOiJFUzI1NiJ9...<sd-jwt>~..."
          ]
        }
        ```

        ---

        ## DCQL Validation

        All validations run before cryptographic verification. Any failure rejects the entire `vp_token` (all-or-nothing):

        - No unknown credential IDs (not declared in DCQL query)
        - All required credentials present (or `credential_sets` satisfied)
        - Format matches DCQL `format` declaration (`ldp_vc`, `dc+sd-jwt`, `vc+sd-jwt`)
        - `multiple=false` (default): exactly one presentation per credential
        - Holder binding: VP required when `require_cryptographic_holder_binding=true` (ldp_vc); SD-JWT+KB required when true (SD-JWT)
        - `meta.type_values` satisfied for `ldp_vc` (OR-of-ANDs, supports IRI fragment matching)
        - `meta.vct_values` exact match for SD-JWT
        - Declared `claims` paths resolve and values match

        ---

        ## Security Validations

        - **State**: `state` must correspond to a recent, valid, non-expired, non-duplicate Authorization Request
        - **Nonce**: nonce from KB-JWT (SD-JWT) or VP proof (ldp_vc) must match the stored nonce
        - **Client ID / aud** (`direct_post`): KB-JWT `aud` / LDP `proof.domain` must match the verifier's `client_id`
        - Sessions created with `response_mode=dc_api` must not be completed on this endpoint (origin audience resolution fails closed)

        ---

        ## Error Handling

        The following request attributes are supported for wallet-reported errors:
        - `error` — wallet error code
        - `error_description` — optional description

        When `error` is present: `vp_token` must be null/absent. When `vp_token` is present: `error` must be absent.

        ---

        ## responseCodeValidationRequired

        - If `true` in the corresponding Authorization Request: returns `redirect_uri` with `response_code`
        - If `false`: returns HTTP 200 only

        The `response_code` is cryptographically random, single-use, and short-lived (~5 minutes).

        ---

        ## VP Request Expiry

        The server enforces VP request expiry. Submissions after expiry are rejected with `expired_request`.

        ---

        ## Duplicate Submission Prevention

        The nonce is marked as consumed after the first successful submission. Resubmissions are rejected with `duplicate_submission`.

      operationId: submitVPV2
      tags:
        - VP Submission
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthorizationResponseV2'
            example:
              vp_token: '{"age_credential_query":[{"@context":["https://www.w3.org/2018/credentials/v1"],"type":["VerifiablePresentation"],"verifiableCredential":[{"@context":["https://www.w3.org/2018/credentials/v1"],"type":["VerifiableCredential","AgeCredential"],"issuer":"did:example:issuer","credentialSubject":{"id":"did:example:holder","age":25},"proof":{"type":"Ed25519Signature2020","proofValue":"zIssuerSig..."}}],"proof":{"type":"Ed25519Signature2020","challenge":"T3yeEqs0zVbveJASNFZ4kA","domain":"client123","proofValue":"zHolderSig..."}}]}'
              state: req_6d538e1b-2615-4927-bfd2-094e9f73f2a1
      responses:
        '200':
          description: The VP was processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  redirect_uri:
                    type: string
                    nullable: true
                    description: Optional `redirect_uri` returned when `responseCodeValidationRequired=true` in the Authorization Request. Contains `response_code` as a hash fragment.
              examples:
                without_redirect:
                  summary: Accepted without redirect (responseCodeValidationRequired=false)
                  value: {}
                with_redirect:
                  summary: Accepted with redirect (responseCodeValidationRequired=true)
                  value:
                    redirect_uri: 'https://example.com/#response_code=731c81d6-9fad-455f-9c66-681e45d59527'
        '400':
          description: |-
            The submission failed. All errors use `errorCode` / `errorMessage` fields.

            **Parameter validation** (validated before anything else):

            | errorCode | errorMessage |
            |---|---|
            | `invalid_request` | Either vp_token or error must be provided. |
            | `invalid_request` | Both vp_token and error cannot be provided together. |
            | `invalid_request` | If error_description is provided, vp_token must be null. |
            | `invalid_request` | If error_description is provided, error must also be provided. |
            | `invalid_request` | Invalid parameter: `{param}` (unknown form parameter) |

            **State validation**:

            | errorCode | errorMessage |
            |---|---|
            | `invalid_request` | State parameter is required and cannot be empty. |
            | `invalid_request` | Invalid state parameter: No matching VP request found. |
            | `invalid_request` | Invalid state parameter: VP request has expired. |
            | `invalid_request` | VP response has already been submitted. |

            **`vp_token` structure validation**:

            | errorCode | errorMessage |
            |---|---|
            | `invalid_request` | invalid_vp_token: vp_token is required and cannot be empty or 'null' |
            | `invalid_request` | invalid_vp_token, not a valid JSON object |
            | `invalid_request` | invalid_vp_token: must contain at least one key-value pair |
            | `invalid_request` | invalid_vp_token: all values must be arrays |
            | `invalid_request` | invalid_vp_token: all arrays must have at least one element |
            | `invalid_request` | invalid_vp_token: array elements must be non-empty JSON objects or non-empty SD-JWT strings |
            | `invalid_request` | invalid_vp_token: all elements must be non-empty JSON objects |
            | `invalid_request` | invalid_vp_token: all elements must be non-empty SD-JWT strings |
            | `invalid_request` | invalid_vp_token: duplicate query ids are not allowed |

            **DCQL validation** (runs against the stored DCQL query):

            | errorCode | errorMessage |
            |---|---|
            | `invalid_request` | vp_token contains credential id(s) not present in the DCQL query. |
            | `invalid_request` | vp_token is missing one or more required credential ids from the DCQL query. |
            | `invalid_request` | vp_token does not satisfy the DCQL credential_sets requirements. |
            | `invalid_request` | vp_token credential format does not match the format declared in the DCQL query. |
            | `invalid_request` | vp_token contains multiple credentials for a query that does not allow multiple. |
            | `invalid_request` | vp_token ldp_vc credential must be a VerifiablePresentation when require_cryptographic_holder_binding is true. |
            | `invalid_request` | vp_token ldp_vc credential must be a VerifiableCredential when require_cryptographic_holder_binding is false. |
            | `invalid_request` | vp_token VerifiablePresentation is missing a verifiableCredential array, which is required when require_cryptographic_holder_binding is true. |
            | `invalid_request` | vp_token SD-JWT credential does not contain a cnf claim and therefore does not support Holder Binding, which is required when require_cryptographic_holder_binding is true. |
            | `invalid_request` | vp_token SD-JWT credential must include a Key Binding JWT when require_cryptographic_holder_binding is true. |
            | `invalid_request` | vp_token ldp_vc credential type values do not satisfy any of the type_values options in the DCQL query. |
            | `invalid_request` | vp_token SD-JWT credential vct claim does not match any of the vct_values in the DCQL query. |
            | `invalid_request` | vp_token ldp_vc credential does not contain a required claim path declared in the DCQL query. |
            | `invalid_request` | vp_token ldp_vc credential claim value does not match any of the declared values in the DCQL query. |
            | `invalid_request` | vp_token credential does not satisfy any of the claim_sets options declared in the DCQL query. |

            **Client ID / Nonce validation** (KB-JWT and ldp_vc proof):

            | errorCode | errorMessage |
            |---|---|
            | `invalid_request` | Nonce validation failed due to invalid nonce/challenge. |
            | `invalid_request` | Client id validation failed due to invalid client_id/domain. |
            | `invalid_request` | Client id or nonce validation failed. |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                state_expired:
                  summary: VP request expired
                  value:
                    errorCode: invalid_request
                    errorMessage: 'Invalid state parameter: VP request has expired.'
                already_submitted:
                  summary: Already submitted
                  value:
                    errorCode: invalid_request
                    errorMessage: VP response has already been submitted.
                vp_token_not_json:
                  summary: vp_token not a JSON object
                  value:
                    errorCode: invalid_request
                    errorMessage: 'invalid_vp_token, not a valid JSON object'
                nonce_mismatch:
                  summary: Nonce/challenge mismatch
                  value:
                    errorCode: invalid_request
                    errorMessage: 'Nonce validation failed due to invalid nonce/challenge.'
        '500':
          description: Internal server error during submission processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
              example:
                errorCode: REDIRECT_URI_NOT_FOUND
                errorMessage: Redirect URI configuration is missing
  /vp-submission/dc-api:
    post:
      summary: Submit Authorization Response via Digital Credentials API (DC API)
      description: |-
        ## Description
        Used by the verifier SDK (browser) to submit a **Verifiable Presentation** returned from
        `navigator.credentials.get({ digital: … })`, per OpenID4VP `response_mode=dc_api`.

        Applies when the Authorization Request used `response_mode=dc_api`:
        - `client_id_prefix` must be `decentralized_identifier:` or `x509_san_dns:`
        - Authorization Request is **by reference** (signed JWT from `requestUri`)
        - `client_metadata` is **supported** (in that JWT)

        Correlates via JSON `requestId` (same role as `state` on `direct-post`). **No cookie is
        required on this endpoint** — the `transaction_id` cookie is only required on
        `/vp-session-results`.

        Shares the same validation pipeline as `POST /v2/vp-submission/direct-post` (structure,
        DCQL, nonce, holder binding). Does **not** return `redirect_uri` / `response_code`.

        ---

        ## Audience / Origin

        For sessions created with `response_mode=dc_api`:
        - Submission `Origin` (preferred) or `Referer` must be in the request's `expected_origins`
        - KB-JWT `aud` / LDP `proof.domain` must match the origin-bound audience:
          `origin:https://verify.example.com` (slash-free; trailing-slash form also accepted)

        ---

        ## Result retrieval

        After a successful submit (HTTP 200 empty body), the SDK calls `/vp-session-results`
        with the existing session cookie — same as `direct_post`.

      operationId: submitVpDcApi
      tags:
        - VP Submission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DcApiVpSubmissionRequest'
            examples:
              with_vp_token:
                summary: Success payload
                value:
                  requestId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  vp_token:
                    verifiable-id:
                      - type:
                          - VerifiablePresentation
              with_wallet_error:
                summary: Wallet protocol error
                value:
                  requestId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  error: invalid_request
                  error_description: optional
      responses:
        '200':
          description: VP submission accepted (empty body).
        '400':
          description: |-
            The submission failed. Body uses `errorCode` / `errorMessage`.

            Common DC API-specific cases:

            | errorCode | Meaning |
            |---|---|
            | `invalid_request` | Missing `requestId` |
            | `invalid_request` | Unable to determine verifier origin from Origin or Referer |
            | `invalid_request` | Submission Origin is not in expected_origins |
            | `invalid_request` | Audience / nonce / DCQL / structure validation failed |
            | `invalid_request` | VP already submitted for this requestId |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_request_id:
                  summary: Missing requestId
                  value:
                    errorCode: invalid_request
                    errorMessage: requestId is required and cannot be empty.
                origin_not_allowed:
                  summary: Origin not in expected_origins
                  value:
                    errorCode: invalid_request
                    errorMessage: Submission Origin is not in the authorization request expected_origins.
  /vc-submission:
    post:
      summary: Submit a Verifiable Credential (VC)
      description: |-
        ## Description
        Allows a user or system to submit a Verifiable Credential (VC) to the server. If a `transactionId` is not provided, the server generates one automatically.

        This endpoint is for submitting individual credentials and is distinct from VP submission.
      operationId: submitVC
      tags:
        - VC Submission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VCSubmissionRequest'
            example:
              vc:
                '@context':
                  - 'https://www.w3.org/2018/credentials/v1'
                type:
                  - VerifiableCredential
                issuer: 'https://example.org/issuers/123'
                issuanceDate: '2023-01-01T00:00:00Z'
                credentialSubject:
                  id: 'did:example:abc'
                  age: 25
                proof:
                  type: Ed25519Signature2020
                  created: '2023-01-01T00:00:00Z'
                  proofPurpose: assertionMethod
                  verificationMethod: 'https://example.org/keys/1'
                  jws: eyJ...signature
              transactionId: txn_abc123
      responses:
        '200':
          description: VC submission accepted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCSubmissionResponse'
              example:
                transactionId: txn_abc123
        '400':
          description: Bad request — request body is malformed or missing the VC object.
  '/vp-result/{transactionId}':
    parameters:
      - schema:
          type: string
        name: transactionId
        description: The Transaction ID for which to retrieve the VP result.
        in: path
        required: true
    get:
      summary: Get VP results for a given Transaction ID (v1 — backward compatible)
      description: |-
        ## Description
        Returns the final result of a Verifiable Presentation (VP) submission. Supports both DCQL-based and legacy Presentation Definition submissions for backward compatibility.

        Supported credential formats: JSON-LD and SD-JWT (`dc+sd-jwt` and `vc+sd-jwt`).

        Revocation checks are performed for JSON-LD credentials. The verification status can be `SUCCESS`, `INVALID`, `EXPIRED`, or `REVOKED`.

        For a detailed per-check breakdown, use `/v2/vp-results/{transactionId}`.

        **Error handling:**
        - `transactionId` null or empty → 400 `invalid_request`
        - `transactionId` not found → 404 `transaction_not_found`
      tags:
        - VP Results
      operationId: getVpResult
      x-internal: true
      responses:
        '200':
          description: VP submission results retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpTokenResult'
              examples:
                success:
                  summary: Successful VP submission result
                  value:
                    transactionId: txn_abc123
                    vpResultStatus: SUCCESS
                    vcResults:
                      - vc: '{...}'
                        verificationStatus: SUCCESS
                failure:
                  summary: Failed VP submission result
                  value:
                    transactionId: txn_def456
                    vpResultStatus: FAILED
                    vcResults:
                      - vc: '{...}'
                        verificationStatus: INVALID
        '400':
          description: |-
            Verification processing error.

            | errorCode | errorMessage |
            |---|---|
            | `TOKEN_MATCHING_FAILED` | Token matching failed. |
            | `INVALID_VP_TOKEN` | Verifiable Presentation Submission failed, due to invalid VP token. |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: |-
            Transaction not found, or wallet reported an error during VP submission.

            | errorCode | errorMessage |
            |---|---|
            | `INVALID_TRANSACTION_ID` | Invalid transaction ID, No requests found for given transaction ID. |
            | `NO_VP_SUBMISSION` | No VP submission found for given transaction ID. |
            | *(wallet error code)* | Error code and description as reported by the wallet. |
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
        '500':
          description: |-
            Internal server error during VC verification or credential status check.

            | errorCode | errorMessage |
            |---|---|
            | `VP_WITHOUT_PROOF` | Invalid VP Submission since VP is without proof. |
            | `VP_VERIFICATION_FAILED` | VP verification failed due to runtime exception during VP verification. |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
  '/v2/vp-results/{transactionId}':
    post:
      summary: Get VP results for a given Transaction ID (v2 — DCQL + Legacy, OpenID4VP 1.0)
      description: |-
        ## Description
        Verifies a VP identified by `transactionId` and returns a detailed, structured result for the VP and each VC contained within it.

        Supports both **DCQL-based** and **legacy Presentation Definition** submissions for backward compatibility.

        The verification process runs in the following stages:

        1. **Schema and Signature Verification** — validates structure and cryptographic signature. If this fails, no further checks run.
        2. **Expiry Check** — performed only when stage 1 passes. Expiry failure does not prevent claims extraction.
        3. **Credential Status Checks** (Optional) — revocation/suspension checks. Skipped when `skipStatusChecks=true`.
        4. **Holder Proof Verification** — validates holder binding. Behavior is format-specific:
           - JSON-LD: verifies VP signature
           - SD-JWT: verifies KB-JWT `nonce` and `aud` against the Authorization Request nonce and `client_id`
           - CWT: holder proof not currently supported
        5. **Claims Extraction** (Optional) — when `includeClaims=true` and stage 1 passes.

        `allChecksSuccessful` at the top level is `true` only when all credentials pass all checks.

        **Error handling:**
        - `transactionId` null or empty → 400 `invalid_request`
        - `transactionId` not found → 404 `transaction_not_found`
      operationId: verifyVPResultsV2
      tags:
        - VP Results
      parameters:
        - name: transactionId
          in: path
          required: true
          description: Unique transaction identifier generated during VP flow
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2VpVerificationRequest'
      responses:
        '200':
          description: Detailed VP verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpVerificationResponse'
        '400':
          description: |-
            Verification processing error.

            | errorCode | errorMessage |
            |---|---|
            | `TOKEN_MATCHING_FAILED` | Token matching failed. |
            | `INVALID_VP_TOKEN` | Verifiable Presentation Submission failed, due to invalid VP token. |
            | `RESPONSE_CODE_NOT_MATCHING` | Response code is not matching the VP Submission response. |
            | `RESPONSE_CODE_EXPIRED` | Response code has expired. |
            | `RESPONSE_CODE_USED` | Response code has been used. |
            | `RESPONSE_CODE_NOT_FOUND` | Response code is missing for this VP Submission. |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: |-
            Transaction not found, or wallet reported an error during VP submission.

            | errorCode | errorMessage |
            |---|---|
            | `INVALID_TRANSACTION_ID` | Invalid transaction ID, No requests found for given transaction ID. |
            | `NO_VP_SUBMISSION` | No VP submission found for given transaction ID. |
            | *(wallet error code)* | Error code and description as reported by the wallet. |
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
        '500':
          description: |-
            Internal server error.

            | errorCode | errorMessage |
            |---|---|
            | `VP_WITHOUT_PROOF` | Invalid VP Submission since VP is without proof. |
            | `VP_VERIFICATION_FAILED` | VP verification failed due to runtime exception during VP verification. |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
      x-stoplight:
        id: mtwcvmeae79qe
      x-internal: true
  /vp-session-results:
    post:
      summary: Get VP session results (Cookie-based — DCQL + Legacy, OpenID4VP 1.0)
      description: |-
        ## Description
        Retrieves detailed verification results for a VP session. This is the primary endpoint used by `@injistack/react-inji-verify-sdk` for all flows (same-device and cross-device).

        **The request and response body are the same as `/v2/vp-results/{transactionId}`.**

        Supports both **DCQL-based** and **legacy Presentation Definition** submissions for backward compatibility.

        The session is identified using a **`transaction_id` cookie** (required, base64-encoded). If the cookie is missing or invalid, returns **401 Unauthorized** with `VP_SESSION_INVALID`.

        If the corresponding Authorization Request has `responseCodeValidationRequired=true`, a **`response_code`** must be provided and must be valid, unexpired, and unused.

        After processing, the session cookie is cleared to prevent reuse.

        ---

        ## Request Body (Optional)

        - `responseCode`: required only when `responseCodeValidationRequired=true`
        - `skipStatusChecks`: skip all credential status checks
        - `statusCheckFilters`: run only selected checks (`revocation`, `suspension`)
        - `includeClaims`: include credential claims in the response

        ---

        ## Error Handling

        - Cookie missing or invalid → 401 `VP_SESSION_INVALID`
        - `transaction_not_found` → 404
      operationId: getVpSessionResults
      tags:
        - VP Results
      parameters:
        - name: transaction_id
          in: cookie
          required: true
          schema:
            type: string
          description: Base64-encoded Transaction ID set during VP session request
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpVerificationSessionRequest'
      responses:
        '200':
          description: Detailed VP verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpVerificationResponse'
        '400':
          description: |-
            Verification processing error or malformed session cookie.

            | errorCode | errorMessage |
            |---|---|
            | `TOKEN_MATCHING_FAILED` | Token matching failed. |
            | `INVALID_VP_TOKEN` | Verifiable Presentation Submission failed, due to invalid VP token. |
            | `RESPONSE_CODE_NOT_MATCHING` | Response code is not matching the VP Submission response. |
            | `RESPONSE_CODE_EXPIRED` | Response code has expired. |
            | `RESPONSE_CODE_USED` | Response code has been used. |
            | `RESPONSE_CODE_NOT_FOUND` | Response code is missing for this VP Submission. |
            | `RESPONSE_CODE_NOT_USED` | Transaction was incomplete, response_code was not used. |
            | `MALFORMED_COOKIE` | Request cannot be processed due to malformed cookie. |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: |-
            Cookie is missing or invalid.

            | errorCode | errorMessage |
            |---|---|
            | `VP_SESSION_INVALID` | Your VP verification session is invalid. Please restart the process and try again. |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: |-
            Transaction not found, or wallet reported an error during VP submission.

            | errorCode | errorMessage |
            |---|---|
            | `INVALID_TRANSACTION_ID` | Invalid transaction ID, No requests found for given transaction ID. |
            | `NO_VP_SUBMISSION` | No VP submission found for given transaction ID. |
            | *(wallet error code)* | Error code and description as reported by the wallet. |
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
        '500':
          description: |-
            Internal server error.

            | errorCode | errorMessage |
            |---|---|
            | `VP_WITHOUT_PROOF` | Invalid VP Submission since VP is without proof. |
            | `VP_VERIFICATION_FAILED` | VP verification failed due to runtime exception during VP verification. |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
  /vc-verification:
    post:
      summary: Verify a Verifiable Credential (v1)
      description: |-
        ## Description
        Performs server-side verification of a Verifiable Credential (VC) — validates structural integrity and cryptographic signature.
        The verification status returned can be `SUCCESS`, `INVALID`, `EXPIRED`, or `REVOKED`.

        Revocation checks are performed for JSON-LD credentials.

        For a detailed per-check breakdown, use `/v2/vc-verification`.

        **Supported formats and Content-Type headers:**

        | Format | Content-Type |
        |---|---|
        | JSON-LD | `application/vc+ld+json` |
        | SD-JWT VC (draft-10) | `application/dc+sd-jwt` |
        | SD-JWT VC (draft-04, legacy) | `application/vc+sd-jwt` |
        | CWT | `application/vc+cwt` (VC as HEX value of CBOR) |
      operationId: vc-verification
      tags:
        - VC Verification
      requestBody:
        required: true
        description: The Verifiable Credential to be verified.
        content:
          application/vc+ld+json:
            schema:
              $ref: '#/components/schemas/VCVerificationRequest'
            examples:
              example:
                summary: JSON-LD VC
                value:
                  vc:
                    '@context':
                      - 'https://www.w3.org/2018/credentials/v1'
                    type:
                      - VerifiableCredential
                      - AgeCredential
                    issuer: 'did:web:example.com'
                    issuanceDate: '2023-01-01T00:00:00Z'
                    credentialSubject:
                      id: 'did:example:123'
                      age: 25
                    proof:
                      type: Ed25519Signature2020
                      created: '2023-01-01T00:00:00Z'
                      verificationMethod: 'did:web:example.com#key-1'
                      proofPurpose: assertionMethod
                      jws: eyJhbGciOiJFZERTQSJ9.eyJpYXQiOiIwMjMxMTIzMTIzMTMiLCJ...signature
          application/dc+sd-jwt:
            schema:
              type: string
            example: eyJhbGciOiJFZERTQSIsInR5cCI6ImRjK3NkLWp3dCJ9.eyJ2Y3QiOiJodHRwczovL2V4YW1wbGUuY29tL015Q3JlZGVudGlhbCJ9...signature
          application/vc+sd-jwt:
            schema:
              type: string
            example: eyJhbGciOiJFZERTQSJ9.eyJpYXQiOiIwMjMxMTIzMTIzMTMiLCJ...signature
          application/vc+cwt:
            schema:
              $ref: '#/components/schemas/VCVerificationCWTRequest'
            examples:
              example:
                summary: Hex-encoded CWT
                value:
                  vc: d83dd2845831a2012604582b4b52394b495f49386443
      responses:
        '200':
          description: 'Verification result. `verificationStatus` can be `SUCCESS`, `EXPIRED`, `INVALID`, or `REVOKED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCVerificationResult'
              examples:
                success:
                  value:
                    verificationStatus: SUCCESS
                invalid:
                  value:
                    verificationStatus: INVALID
                expired:
                  value:
                    verificationStatus: EXPIRED
                revoked:
                  value:
                    verificationStatus: REVOKED
        '400':
          description: |-
            Invalid request body — `Content-Type` header is missing, unsupported, or the request body cannot be parsed.
        '415':
          description: Unsupported `Content-Type`. Accepted values are `application/vc+ld+json`, `application/dc+sd-jwt`, `application/vc+sd-jwt`, `application/vc+cwt`.
        '500':
          description: |-
            Internal server error during verification or status check. Commonly caused by a failed credential status list retrieval.

            Example error message: `STATUS_RETRIEVAL_ERROR - Retrieval of the status list failed: Network request failed with error response`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
              examples:
                Example 1:
                  value:
                    timestamp: '2025-12-03T10:52:43.747423Z'
                    status: 500
                    path: /v1/verify/vc-verification
                    error: 'STATUS_RETRIEVAL_ERROR - Retrieval of the status list failed: Network request failed with error response'
  /v2/vc-verification:
    post:
      summary: Verify a Verifiable Credential (v2 — detailed breakdown)
      description: |-
        ## Description
        Verifies a single VC and returns a detailed breakdown of verification results instead of a single final status.

        The verification process runs in the following order:

        1. **Schema and Signature Verification** — validates structure and cryptographic signature. If this fails, no further checks run.
        2. **Expiry Check** — performed only when stage 1 passes.
        3. **Credential Status Checks** (Optional) — revocation/suspension. Skipped when `skipStatusChecks=true`.
        4. **Claims Extraction** (Optional) — when `includeClaims=true` and stage 1 passes.

        **Supported formats:** JSON-LD, SD-JWT (`dc+sd-jwt`, `vc+sd-jwt`), CWT.

        Runtime exceptions are propagated as HTTP 500.
      operationId: verifyVCV2
      tags:
        - VC Verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VcVerificationRequest'
      responses:
        '200':
          description: Detailed VC verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VcVerificationResponse'
        '400':
          description: |-
            Invalid request payload — `verifiableCredential` field is null or missing.
        '500':
          description: Internal server error during verification or credential status check.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
  /did.json:
    get:
      summary: Get the DID document
      description: |-
        ## Description
        Retrieves the DID (Decentralized Identifier) document for the verifier.
        The DID document contains public keys for authentication and service endpoints. Supports Authorization Requests **by reference** with DID-based `client_id` (using the `decentralized_identifier:` `client_id_prefix` per OpenID4VP v1.0).
      tags:
        - VP Request
      responses:
        '200':
          description: DID document found and returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DIDDocument'
              example:
                '@context':
                  - 'https://www.w3.org/ns/did/v1'
                  - 'https://w3id.org/security/suites/ed25519-2020/v1'
                id: 'did:example:123456789abcdefghi'
                verificationMethod:
                  - id: 'did:example:123456789abcdefghi#keys-1'
                    type: Ed25519VerificationKey2020
                    controller: 'did:example:123456789abcdefghi'
                    publicKeyMultibase: z6MkhPCXw1tV8wR2rWqC2kF7zX9b2D9M9m3yD5rN2J2F7zW
                authentication:
                  - '#keys-1'
                service:
                  - id: 'did:example:123456789abcdefghi#didcomm-1'
                    type: DIDCommMessaging
                    serviceEndpoint: 'https://example.com/didcomm'
        '500':
          description: DID document creation failed due to an internal server error.
      operationId: get-did-json
components:
  schemas:
    # -------------------------------------------------------------------------
    # VP Request schemas
    # -------------------------------------------------------------------------
    VPRequestCreate:
      description: |-
        VP request create body. `responseMode=dc_api` requires a signed-request `clientId`
        (`decentralized_identifier:` or `x509_san_dns:`) and `responseCodeValidationRequired=false`.
        Omit `responseMode` or use `direct_post` for all `client_id_prefix` values.
      oneOf:
        - $ref: '#/components/schemas/VPRequestCreateDirectPost'
        - $ref: '#/components/schemas/VPRequestCreateDcApi'
    VPRequestCreateBase:
      type: object
      required:
        - clientId
        - dcqlQuery
      properties:
        clientId:
          type: string
          description: |-
            Identifier of the verifier. OpenID4VP v1.0 `client_id_prefix` (Section 5.9.3).
            Each prefix documents the same three properties: Authorization Request delivery, `client_metadata`, and `response_mode`.

            | Prefix | Authorization Request | `client_metadata` | `response_mode` |
            |---|---|---|---|
            | *(none)* Pre-registered | by value (`authorizationDetails`) | not supported | `direct_post` |
            | `decentralized_identifier:` | by reference (`requestUri`) | supported | `direct_post` and `dc_api` |
            | `x509_san_dns:` | by reference (`requestUri`) | supported | `direct_post` and `dc_api` |
            | `redirect_uri:` | by value (`authorizationDetails`) | not supported | `direct_post` |

            - **Pre-registered**: simple string (e.g., `client123`). Authorization Request is returned **by value**. `client_metadata` is **not supported**. `response_mode`: `direct_post` only.
            - **Decentralized Identifier**: `decentralized_identifier:` prefix (e.g., `decentralized_identifier:did:web:verify.example.com`). Authorization Request is returned **by reference** (`kid` JWT header). `client_metadata` is **supported**. `response_mode`: `direct_post` and `dc_api`.
            - **Certificate SAN DNS**: `x509_san_dns:` prefix (e.g., `x509_san_dns:verify.example.com`). Authorization Request is returned **by reference** (`x5c` JWT header). `client_metadata` is **supported**. `response_mode`: `direct_post` and `dc_api`. DNS name must match `inji.verify.x509-san-dns.host`.
            - **Redirect URI**: `redirect_uri:` prefix (e.g., `redirect_uri:https://injiverify.example.com/v1/verify/v2/vp-submission/direct-post`). Authorization Request is returned **by value**. `client_metadata` is **not supported**. `response_mode`: `direct_post` only. URI part MUST be an absolute HTTPS URI and MUST equal `responseUri`. Plain HTTP is rejected.
          example: client123
        dcqlQuery:
          $ref: '#/components/schemas/DcqlQuery'
          description: DCQL query specifying the credentials to request, per OpenID4VP v1.0. Required. `presentationDefinition` and `presentationDefinitionId` are not supported.
        responseMode:
          type: string
          description: |-
            OpenID4VP `response_mode`. Omit or use `direct_post` for wallet HTTP submission.
            Use `dc_api` for W3C Digital Credentials API (same-device browser mediation).

            `dc_api` requires `client_id_prefix` `decentralized_identifier:` or `x509_san_dns:`.
            Pre-registered and `redirect_uri:` support `direct_post` only.
          example: direct_post
        responseCodeValidationRequired:
          type: boolean
          description: |-
            If `true`, `/v2/vp-submission/direct-post` returns a `redirect_uri` with `response_code`.
            Use `true` for same-device web wallet flows. Default: `false`.
            Must be `false` when `responseMode=dc_api`.
          default: false
          example: false
        transactionId:
          type: string
          description: 'Optional. Unique UUID for the transaction. If not provided, generated as `txn_<uuid>`.'
          example: txn_abc123
        nonce:
          type: string
          description: |-
            Optional. If provided, must be:
            - At least 16 characters
            - URL-safe characters only: `[A-Za-z0-9._~-]`
            - Not blank or whitespace-only

            If not provided, a cryptographically secure nonce is generated (Base64URL without padding, ≥ 128 bits entropy).
          example: T3yeEqs0zVbveJASNFZ4kA
    VPRequestCreateDirectPost:
      title: direct_post
      description: Wallet HTTP submission. All `client_id_prefix` values are valid. `responseMode` may be omitted.
      allOf:
        - $ref: '#/components/schemas/VPRequestCreateBase'
        - type: object
          properties:
            responseMode:
              type: string
              enum:
                - direct_post
              default: direct_post
              example: direct_post
    VPRequestCreateDcApi:
      title: dc_api
      description: Digital Credentials API. Signed-request `clientId` only; `responseCodeValidationRequired` must be false.
      allOf:
        - $ref: '#/components/schemas/VPRequestCreateBase'
        - type: object
          required:
            - responseMode
          properties:
            clientId:
              type: string
              pattern: '^(decentralized_identifier:|x509_san_dns:).+$'
              description: Must use `decentralized_identifier:` or `x509_san_dns:` when `responseMode` is `dc_api`.
              example: 'decentralized_identifier:did:web:verify.example.com'
            responseMode:
              type: string
              enum:
                - dc_api
              example: dc_api
            responseCodeValidationRequired:
              type: boolean
              enum:
                - false
              default: false
              example: false
    DcqlQuery:
      type: object
      required:
        - credentials
      description: DCQL (Digital Credentials Query Language) query per OpenID4VP v1.0.
      properties:
        credentials:
          type: array
          minItems: 1
          description: Array of credential queries. Each entry specifies a credential to request.
          items:
            $ref: '#/components/schemas/DcqlCredential'
        credential_sets:
          type: array
          description: |-
            Optional. Specifies which combinations of credentials are acceptable.
            Each set is satisfied when the VP token contains all credential IDs from at least one of its options (OR-of-ANDs).
            Sets with `required: false` are optional and not enforced.
          items:
            $ref: '#/components/schemas/DcqlCredentialSet'
    DcqlCredential:
      type: object
      required:
        - id
        - format
        - meta
      description: A single credential query within a DCQL query.
      properties:
        id:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          description: Unique identifier for this credential query. Used as the key in the `vp_token` response.
          example: age_credential_query
        format:
          type: string
          description: 'Credential format to request. Supported values: `ldp_vc`, `dc+sd-jwt`, `vc+sd-jwt`.'
          enum:
            - ldp_vc
            - dc+sd-jwt
            - vc+sd-jwt
          example: ldp_vc
        meta:
          $ref: '#/components/schemas/DcqlMeta'
          description: 'Required. Must be present (cannot be null), but may be an empty object `{}` when no type/vct constraints are needed. Omitting or nulling this field returns `DCQL_META_REQUIRED`.'
        claims:
          type: array
          description: Optional. Declared claim paths to request from the credential.
          items:
            $ref: '#/components/schemas/DcqlClaim'
        claim_sets:
          type: array
          description: Optional. OR-of-ANDs of claim IDs. At least one option must be fully satisfied by the credential.
          items:
            type: array
            items:
              type: string
          example:
            - - first_name
              - last_name
            - - given_name
        multiple:
          type: boolean
          default: false
          description: 'If `false` (default), exactly one presentation is expected per credential query. If `true`, one or more are allowed.'
          example: false
        require_cryptographic_holder_binding:
          type: boolean
          default: true
          description: |-
            Controls whether the wallet must demonstrate holder binding.

            - `true` (default): Wallet must submit a VP (for `ldp_vc`) or SD-JWT+KB (for SD-JWT formats).
            - `false`: Wallet may submit a bare VC (for `ldp_vc`) or plain SD-JWT without KB-JWT (for SD-JWT formats).
          example: true
    DcqlMeta:
      type: object
      description: Metadata constraints for a DCQL credential query.
      properties:
        vct_values:
          type: array
          description: 'SD-JWT only. Exact-match values for the `vct` claim in the SD-JWT payload.'
          items:
            type: string
          example:
            - 'https://example.com/AgeCredential'
        type_values:
          type: array
          description: |-
            `ldp_vc` only. OR-of-ANDs type constraints. The credential must satisfy at least one inner array (OR); within each inner array, all declared types must be present (AND).

            Supports exact match and IRI fragment match (e.g., `https://example.org/context#AgeCredential` matches short name `AgeCredential`).
          items:
            type: array
            items:
              type: string
          example:
            - - VerifiableCredential
              - AgeCredential
    DcqlClaim:
      type: object
      required:
        - path
      description: A declared claim path within a DCQL credential query.
      properties:
        id:
          type: string
          description: Optional ID for this claim, referenced in `claim_sets`.
          example: first_name
        path:
          type: array
          description: |-
            JSONPath-like path to the claim within the credential. Segment types:
            - string: object key lookup
            - integer: array index
            - null: array wildcard (expands to all array elements)
          items:
            oneOf:
              - type: string
                nullable: true
              - type: integer
          example:
            - credentialSubject
            - first_name
        values:
          type: array
          description: 'Optional. The resolved claim value must type-and-value match at least one declared value (OR). Supported types: null, string, boolean, integer.'
          items: {}
    DcqlCredentialSet:
      type: object
      required:
        - options
      description: Specifies an acceptable combination of credentials within a DCQL query.
      properties:
        options:
          type: array
          description: Each inner array is one option (AND of credential IDs). The set is satisfied when at least one option is present in the VP token (OR across options).
          items:
            type: array
            items:
              type: string
          example:
            - - age_credential_query
            - - identity_credential_query
              - photo_id_query
        required:
          type: boolean
          default: true
          description: 'If `true` (default), this set must be satisfied. If `false`, the set is optional.'
          example: true
    VPRequestResponse:
      type: object
      description: |-
        Authorization Request returned **by value** when `client_id_prefix` is pre-registered or `redirect_uri:`.
        `client_metadata` is **not supported**. `response_mode` is `direct_post` only.
      required:
        - authorizationDetails
      properties:
        transactionId:
          type: string
          description: Unique ID of the VP request transaction.
          example: txn_f82f281e-8d96-419b-b413-5a0459739a7b
        requestId:
          type: string
          description: Unique ID of the authorization request.
          example: req_6d538e1b-2615-4927-bfd2-094e9f73f2a1
        authorizationDetails:
          $ref: '#/components/schemas/AuthorizationRequestResponse'
        expiresAt:
          type: integer
          format: int64
          description: Unix timestamp (seconds) after which the request expires.
          example: 1752838929
    VPRequestResponseByReference:
      type: object
      description: |-
        Authorization Request returned **by reference** when `client_id_prefix` is `decentralized_identifier:` or `x509_san_dns:`.
        `client_metadata` is **supported** in the signed JWT at `requestUri`.
        `response_mode`: `direct_post` and `dc_api`. For `dc_api`, `responseUri` is also present.
      required:
        - requestUri
      properties:
        transactionId:
          type: string
          description: Unique ID of the VP request transaction.
          example: 'urn:uuid:f82f281e-8d96-419b-b413-5a0459739a7b'
        requestId:
          type: string
          description: Unique ID of the authorization request.
          example: 'urn:uuid:6d538e1b-2615-4927-bfd2-094e9f73f2a1'
        requestUri:
          type: string
          format: uri
          description: URI from which the wallet (or DC API mediator) fetches the signed Authorization Request JWT (`GET /v2/vp-request/{requestId}`).
          example: 'https://injiverify.collab.mosip.net/v1/verify/v2/vp-request/6d538e1b-2615-4927-bfd2-094e9f73f2a1'
        responseUri:
          type: string
          format: uri
          description: |-
            Present when `responseMode=dc_api`. URI the SDK uses to submit the VP
            (`POST /vp-submission/dc-api`). Omitted for `direct_post`.
          example: 'https://injiverify.collab.mosip.net/v1/verify/vp-submission/dc-api'
        expiresAt:
          type: integer
          format: int64
          description: Unix timestamp (seconds) after which the request expires.
          example: 1752838929
    AuthorizationRequestResponse:
      title: AuthorizationRequestResponse
      type: object
      description: Full authorization request payload returned **by value** when `client_id_prefix` is pre-registered or `redirect_uri:`. `client_metadata` is **not supported**. `response_mode` is `direct_post` only.
      properties:
        responseUri:
          type: string
          format: uri
          description: URL for the wallet (or SDK) to submit the VP token.
          example: 'https://injiverify.collab.mosip.net/v1/verify/v2/vp-submission/direct-post'
        responseType:
          type: string
          description: Response type; always `vp_token`.
          example: vp_token
        responseMode:
          type: string
          description: |-
            Always `direct_post` in by-value `authorizationDetails` (pre-registered / `redirect_uri:`).
            `dc_api` is used only with by-reference prefixes and appears in the signed JWT, not in this object.
          enum:
            - direct_post
          example: direct_post
        expectedOrigins:
          type: array
          description: |-
            Present only for `response_mode=dc_api` (by-reference JWTs). Omitted from by-value `authorizationDetails`.
            Slash-free canonical origins (e.g. `https://verify.example.com`) the submission Origin must match.
          items:
            type: string
          example:
            - 'https://verify.example.com'
        clientId:
          type: string
          description: Client ID of the verifier.
          example: client123
        nonce:
          type: string
          description: Cryptographic nonce binding the VP to this session. Base64URL-encoded without padding.
          example: T3yeEqs0zVbveJASNFZ4kA
        dcqlQuery:
          $ref: '#/components/schemas/DcqlQuery'
          description: DCQL query specifying the credentials requested.
        client_metadata:
          $ref: '#/components/schemas/ClientMetadata'
          description: |-
            `client_metadata` is **not supported** in by-value `authorizationDetails` (pre-registered and `redirect_uri:`).
            `client_metadata` is **supported** in signed by-reference JWTs (`decentralized_identifier:` and `x509_san_dns:`) as `vp_formats_supported`.
        issuedAt:
          type: integer
          format: int64
          description: Unix timestamp (milliseconds) of when the request was issued.
          example: 1752838929000
    ClientMetadata:
      type: object
      description: |-
        Verifier client metadata per OpenID4VP v1.0 Section 5.

        **Supported** in signed Authorization Request JWTs when `client_id_prefix` is `decentralized_identifier:` or `x509_san_dns:` (by reference, including `responseMode=dc_api`).
        **Not supported** for pre-registered and `redirect_uri:` (by value).
      properties:
        vp_formats_supported:
          type: object
          description: |-
            Supported VP formats per OpenID4VP v1.0 (replaces `vp_formats`). Uses `ldp_vc` for Linked Data Proof credentials (replaces `ldp_vp`).
            `client_name` is not included.
          properties:
            ldp_vc:
              type: object
              description: Linked Data Proof credential format support.
              properties:
                proof_type:
                  type: array
                  items:
                    type: string
                  example:
                    - Ed25519Signature2020
            dc+sd-jwt:
              type: object
              description: SD-JWT VC (draft-10) format support.
              properties:
                sd-jwt_alg_values:
                  type: array
                  items:
                    type: string
                  example:
                    - ES256
                    - ES384
                kb-jwt_alg_values:
                  type: array
                  items:
                    type: string
                  example:
                    - ES256
                    - ES384
            vc+sd-jwt:
              type: object
              description: SD-JWT VC (draft-04, legacy) format support.
              properties:
                sd-jwt_alg_values:
                  type: array
                  items:
                    type: string
                  example:
                    - ES256
                    - ES384
                kb-jwt_alg_values:
                  type: array
                  items:
                    type: string
                  example:
                    - ES256
                    - ES384
      example:
        vp_formats_supported:
          ldp_vc:
            proof_type:
              - Ed25519Signature2020
          dc+sd-jwt:
            sd-jwt_alg_values:
              - ES256
              - ES384
            kb-jwt_alg_values:
              - ES256
              - ES384
          vc+sd-jwt:
            sd-jwt_alg_values:
              - ES256
              - ES384
            kb-jwt_alg_values:
              - ES256
              - ES384
    VPRequestStatus:
      type: object
      description: Status of a VP request transaction.
      properties:
        status:
          type: string
          enum:
            - ACTIVE
            - VP_SUBMITTED
            - EXPIRED
          description: Current status of the VP request transaction.
          example: ACTIVE
    # -------------------------------------------------------------------------
    # VP Submission schemas
    # -------------------------------------------------------------------------
[...]
