version: '3.8'

services:
  verify-service:
    container_name: verify-service
    image: mosipid/inji-verify-service:release-0.13.x
    user: root
    ports:
      - "8080:8080"
    build:
      context: ../verify-service
      dockerfile: Dockerfile
    environment:
      - active_profile_env=default
      - spring_config_label_env=main
      - spring_config_url_env=http://config-server:8888
      - DATABASE_HOST=postgres
      - DATABASE_PORT=5432
      - DATABASE_NAME=inji_verify
      - DATABASE_SCHEMA=verify
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=postgres
    depends_on:
      - postgres

  verify-ui:
    container_name: verify-ui
    image: mosipid/inji-verify-ui:release-0.13.x
    ports:
      - "3000:8000"
    build:
      context: ../verify-ui
      dockerfile: Dockerfile
    environment:
      - DEFAULT_TITLE=Inji Verify
      - DEFAULT_LANG=en
      - INTERNET_CONNECTIVITY_CHECK_ENDPOINT=${INTERNET_CONNECTIVITY_CHECK_ENDPOINT-https://dns.google/}
      - INTERNET_CONNECTIVITY_CHECK_TIMEOUT=${INTERNET_CONNECTIVITY_CHECK_TIMEOUT-10000}
      - OVP_QR_HEADER={OVP_QR_HEADER-INJI_OVP://payload=}
      - REACT_APP_VERIFY_API_URL=http://verify-service:8080/v1/verify
      - VERIFIABLE_CLAIMS_CONFIG_URL=/assets/config.json
    volumes:
      - ./config/config.json:/usr/share/nginx/html/assets/config.json
    depends_on:
      - verify-service

  postgres:
    image: postgres:13
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: inji_verify
    ports:
      - "5432:5432"
    volumes:
      - ./db-init:/docker-entrypoint-initdb.d