@keyframes scan-mobile {
    0% {
        transform: translateY(-125px);
    }
    50% {
        transform: translateY(125px);
    }
    100% {
        transform: translateY(-125px);
    }
}

@keyframes scan-desktop {
    0% {
        transform: translateY(-158px);
    }
    50% {
        transform: translateY(158px);
    }
    100% {
        transform: translateY(-158px);
    }
}

.scanning-line {
    width: 100%;
    height: 2px;
    background: #FF7F00;
    z-index: 100000;
    box-shadow: 1px 2px 8px 1px #FF7F00;
    animation: scan-mobile 3s infinite;
    @media(min-width: 1024px) {
        animation: scan-desktop 3s infinite;
    }
}
