name: BrowserStack Web Tests

#on:
#  workflow_dispatch:
#    inputs:
#      message:
#        description: 'Message for manually triggering'
#        required: false
#        default: 'Triggered for Updates'
#        type: string
#  push:
#    branches:
#      - '!release-branch'
#      - release*
#      - master
#      - 1.*
#      - develop

jobs:
  inji-verify-test:
    uses: mosip/kattu/.github/workflows/browserstack-web.yml@master-java21
    with:
      SERVICE_LOCATION: ui-test
      BUILD_ARTIFACT: test-output
    secrets:
      BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
      BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      S3_BUCKET: ${{ secrets.S3_BUCKET }}       
